table {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid black; 
    padding: 8px; 
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #e9ecef;
}

.error {
    color: red;
    font-weight: bold;
}

button {
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

.edit{
    background-color: #007bff;
}
.cancel{
    background-color: #f44336;
}
.save{
    background-color: #04AA6D;
}

.status {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }